{% set dataset_type = h.default_package_type() %}
{% set org_type = h.default_group_type('organization') %}
{% set group_type = h.default_group_type('group') %}
{% import 'macros/nav_link.html' as nav %}
<footer>
  <div class="site-footer">
    <div class="container">
      {% block footer_content %}
        <div class="row">
          <div class="col-md-6" style="margin-bottom: 20px;">
            <h4 class="footer-heading" style="color: #ffffff; margin-bottom: 15px; font-weight: bold;">Satu Data Kota Kendari</h4>
            <p style="color: #a0aab5; line-height: 1.6; font-size: 13px;">
              Portal resmi Satu Data Kota Kendari menyajikan data akurat, mutakhir, terpadu, dan dapat dipertanggungjawabkan yang diproduksi oleh perangkat daerah di lingkungan Pemerintah Kota Kendari.
            </p>
          </div>
          <div class="col-md-6 footer-links row">
            {% block footer_nav %}
              <div class="col-md-6" style="margin-bottom: 20px;">
                <h4 class="footer-heading" style="color: #ffffff; margin-bottom: 15px; font-weight: bold;">Menu</h4>
                <ul class="list-unstyled">
                  {% block footer_links %}
                    {{ nav.link(h.url_for('home.index'), _('Home')) }}
                    {{ nav.link(h.url_for(dataset_type ~ '.search'), h.humanize_entity_type('package', dataset_type, 'footer nav') or _('Datasets'), active_blueprints=[dataset_type, dataset_type + '_resource']) }}
                    {{ nav.link(h.url_for(org_type ~ '.index'), h.humanize_entity_type('organization', org_type, 'footer nav') or _('Organizations'), active_blueprints=[org_type]) }}
                    {{ nav.link(h.url_for(group_type ~ '.index'), h.humanize_entity_type('group', group_type, 'footer nav') or _('Groups'), active_blueprints=[group_type]) }}
                    {{ nav.link(h.url_for('home.about'), _('About')) }}
                  {% endblock %}
                </ul>
              </div>
              <div class="col-md-6" style="margin-bottom: 20px;">
                <h4 class="footer-heading" style="color: #ffffff; margin-bottom: 15px; font-weight: bold;">Tautan Lain</h4>
                <ul class="list-unstyled">
                  <li><a href="https://kendarikota.go.id" target="_blank" rel="noopener noreferrer">Portal Kota Kendari</a></li>
                </ul>
              </div>
            {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
  <div class="bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-9 attribution">
          {% block footer_attribution %}
            <div class="footer-logo-box" style="margin-bottom: 15px; display: inline-block; vertical-align: middle;">
              <img src="/uploads/admin/2026-06-08-125615.974681LambangKotaKendari.webp" alt="Lambang Kota Kendari" style="height: 40px; vertical-align: middle;">
              <span style="color: #ffffff; font-size: 14px; font-weight: bold; margin-left: 10px; display: inline-block; vertical-align: middle;">&copy; 2026 Pemerintah Kota Kendari. Hak Cipta Dilindungi.</span>
            </div>
          {% endblock %}
        </div>
        <div class="col-md-3">
          {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</footer>
